.headerRow{
    margin-top: 10px;
    background-color: rgb(25, 24, 24);
    color: white;
    padding: 15px;
    text-align: center;
    
}
.headerEle:hover{
color: pink;
display: inline;
font-size: 15.5px;
}
.sideNav{
    margin-top: 2px;
    color: green;
    margin-left: 15px;
    background-color: aqua;
    color: black;
    font-size: 20px;
}
.sideNavEle{
    margin-top: 17px;
    margin-bottom: 17px;
    
}
.sideNavEle:hover{
    color: purple;
    background-color: lightslategrey;
    display: inline;
    border-radius: 5px;
}
.btn{
    color: white;
    background-color: green;
    border-radius: 2px;
    margin-top: 10px;
}